@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --first-color: #ff0037;
    --second-color: #000000;
    --cor-footer: #000000;
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --mb5: 2.5rem;
    --mb6: 3rem;
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1500px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}


body {
    font-family: var(--body-font);
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    display: block;

}

/* Navigation Styles */
/* Estilos gerais do menu */
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 0%);
  --black-color-lighten: hsl(0, 0%, 0%);
  --white-color: #fff;
  --body-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}
/* Estilo bÃ¡sico para o logo na barra de navegaÃ§Ã£o */
.nav__logo img {
  width: 100%; /* Ajusta o tamanho da imagem para caber no seu contÃªiner */
  max-width: 200px; /* Define um tamanho mÃ¡ximo para a imagem */
  height: auto; /* Garante que a imagem mantenha a proporÃ§Ã£o */

}

/* Estilo para o contÃªiner da navegaÃ§Ã£o (se necessÃ¡rio ajustar a posiÃ§Ã£o) */
.navmenu {
  display: flex;
  justify-content: space-between; /* Ajusta o espaÃ§amento entre os itens do menu */
  align-items: center; /* Alinha os itens ao centro verticalmente */
  padding: 10px 20px;
}

/* Se necessÃ¡rio, ajuste o tamanho do logo para ficar proporcional */
.nav__logo {
  display: flex;
  align-items: center;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: #444;
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

/* Section Styles */
.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: var(--first-color);
}

/* Contact Form Styles */
.contact-input {
  width: 100%;
  font-size: var(--normal-font-size);
font-family: "Poppins";
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb4);
}

.contact-input {
font-family: "Poppins";
  width: 100%;
  font-size: var(--normal-font-size);
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--second-color);
  outline: none;
  margin-top: 0px;
}

.comic-button-enviar {
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--first-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.comic-button-enviar:hover {
    background-color: #fff;
    color: var(--first-color);
    ;
    border: 2px solid var(--first-color);
    ;
    box-shadow: 5px 5px 0px var(--first-color);
    ;
}

.comic-button-enviar:active {
    background-color: #000000;
    box-shadow: none;
    transform: translateY(4px);
}


/* Button Styles */
.comic-button-enviar {
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--first-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    margin: 30px auto;
}

.comic-button-enviar:hover {
    background-color: #fff;
    color: var(--first-color);
    border: 2px solid var(--first-color);
    box-shadow: 5px 5px 0px var(--first-color);
}

.comic-button-enviar:active {
    background-color: #000000;
    box-shadow: none;
    transform: translateY(4px);
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: auto;
    /* Usa a altura total da tela */
    text-align: center;
    /* Alinha o conteÃºdo do botÃ£o */
}

.comic-button {
    display: inline-block;
    padding: 10px 20px;
    /* Ajustei o padding para ficar um pouco mais espaÃ§ado */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--first-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    margin: 0;
    /* Remove a margem que vocÃª estava utilizando para centralizar */
}

.comic-button:hover {
    background-color: #fff;
    color: var(--first-color);
    border: 2px solid var(--first-color);
    box-shadow: 5px 5px 0px var(--first-color);
}

.comic-button:active {
    background-color: #000000;
    box-shadow: none;
    transform: translateY(4px);
}

/*-----------------------------------------------------------------------------*/
.footer-icon {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 var(--mb2);
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 2rem;
    margin-bottom: var(--mb4);
}

.footer-icon:hover {
    font-size: 1.5rem;
    color: #ff0000;
    margin: 0 var(--mb2);
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
}

.footer-social {
    margin-bottom: var(--mb4);
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 var(--mb2);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;

}
.home-title-color-footer{
  color: #666;
}
.home-title-color-footer2{
  color: #ffffff;
}
.footer {
    background-color: var(--cor-footer);
    color: #ffffff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

/*-----------------------------------------------------------------------------*/
.video-todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 350px;
    /* Define um limite de largura mÃ¡xima */
    height: 200px;
    overflow: hidden;
    background-color: #000;
    border-radius: 10px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.bd-grid {
    max-width: 2024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb2);
    margin-right: var(--mb2);
    justify-content: center;
}

.contact-container {
    justify-items: center;
}


/*-----------------------------------------------------------------------------*/

.video-div1{
    background: linear-gradient(to top, #000000, var(--first-color), var(--first-color));

    margin: 50px;
    margin-top: 0;
    margin-bottom: -70px;
    padding: 30px;
    border-radius: 20px;
}
.video-div2{
    background: linear-gradient(to top, #000000, #666, #666);

    margin: 50px;
    margin-top: 0;
    margin-bottom: -70px;
    padding: 30px;
    border-radius: 20px;
}
.video-div3{

    background: linear-gradient(to top, #000000, #ECC93D, #ECC93D);
    margin: 50px;
    margin-top: 0;
    margin-bottom: -70px;
    padding: 30px;
    border-radius: 20px;
}

.contact-container {
    justify-items: center;
}

.about-img img {
    top: 80px; /* Ajuste o valor conforme necessÃ¡rio */
    position: relative;
}

.tl-item {
  display: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  /* Garante que o conteÃºdo nÃ£o ultrapasse o footer */
  min-height: 650px;
  /* Ajuste se necessÃ¡rio */

}


.tl-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
 
      filter: opacity(0.5); /* Diminui o brilho */
  
      
}
.tl-text,.tl-text2,.tl-text3,.tl-text4,.botao-contact {position: absolute;color: rgb(0, 0, 0);/* Ajuste conforme necessÃ¡rio */white-space: nowrap;display: none;/* Impede quebra de linha */}

.tl-text { top: 20%;  font-size: 35px;  font-weight: bold;  white-space: nowrap;display: none;}

.tl-text2 { top: 43%; font-size: 38px; font-weight: bolder;display: none;}

.tl-text3 { top: 63%;  font-size: 25px;   max-width: 80%;display: none;}

.tl-text4 {  top: 65%;  font-size: 40px;   font-weight: bold;display: none;}

.botao-contact {
  display: none;
  top: 83%;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 18px;
  z-index: 1;
  
}


.tl-item2 {
  margin-top: -600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  /* Garante que o conteÃºdo nÃ£o ultrapasse o footer */
  min-height: 650px;
  /* Ajuste se necessÃ¡rio */

}


.tl-bg2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
 
      filter: opacity(0.5); /* Diminui o brilho */
  
      
}
.tl-textb,.tl-text2b,.tl-text3b,.tl-text4b,.botao-contact2 {position: absolute;color: rgb(0, 0, 0);/* Ajuste conforme necessÃ¡rio */white-space: nowrap;/* Impede quebra de linha */}

.tl-textb { top: 20%;  font-size: 35px;  font-weight: bold;  white-space: nowrap;}

.tl-text2b { top: 43%; font-size: 38px; font-weight: bolder;}

.tl-text3b { top: 63%;  font-size: 25px;   max-width: 80%;}

.tl-text4b {  top: 65%;  font-size: 40px;   font-weight: bold;}

.botao-contact2 {
  top: 83%;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 18px;
  z-index: 1;
  
}

/* Media Queries */
@media screen and (max-width: 1000px) {

  .nav__logo img {
    width: 100%; /* Ajusta o tamanho da imagem para caber no seu contÃªiner */
    max-width: 150px; /* Define um tamanho mÃ¡ximo para a imagem */
    height: auto; /* Garante que a imagem mantenha a proporÃ§Ã£o */
  
  }
  
  /* Estilo para o contÃªiner da navegaÃ§Ã£o (se necessÃ¡rio ajustar a posiÃ§Ã£o) */
  .navmenu {
    display: flex;
    justify-content: space-between; /* Ajusta o espaÃ§amento entre os itens do menu */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    padding: 10px 20px;
  }
  
  /* Se necessÃ¡rio, ajuste o tamanho do logo para ficar proporcional */
  .nav__logo {
    display: flex;
    align-items: center;
  }
  

  .tl-bg2 {
    display: none;
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: opacity(35%);
}

.tl-item2 {
  display: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 810px;
    /* Ajuste conforme necessÃ¡rio */
}
     /*Foto do comeÃ§o do site*/
     .tl-textb {top: 30%;font-size: 5vw; /* Torna o tamanho da fonte responsivo */;font-weight: bold;white-space: nowrap;display: none;}
     .tl-text2b {top: 40%;font-size: 3vw; /* Torna o tamanho da fonte responsivo */font-weight: bolder;display: none;}
     .tl-text3b {top: 45%;font-size: 3vw;font-weight: bolder;display: none;}
     .tl-text4b {top: 65%;font-size: 15px; font-weight: bold;display: none;}

     .botao-contact2 {
      display: none;
      top: 55%;
      background: rgb(255, 0, 0);
      color: rgb(255, 255, 255);
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bolder;
      border-radius: 5px;
      transition: background 0.3s;
      font-size: 18px;
      
  }
  
  .tl-bg {
    display: flex;
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: opacity(35%);
}

.tl-item {
  margin-bottom: -850px;
  display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 810px;
    /* Ajuste conforme necessÃ¡rio */
}
     /*Foto do comeÃ§o do site*/
     .tl-text {top: -20%;font-size: 5vw; /* Torna o tamanho da fonte responsivo */;font-weight: bold;white-space: nowrap;display: flex;position: relative;}
     .tl-text2 {top: -16%;font-size: 3vw; /* Torna o tamanho da fonte responsivo */font-weight: bolder;display: flex;position: relative;}
     .tl-text3 {top: -11%;font-size: 3vw;display: flex;position: relative;}
     .tl-text4 {top: -20%;font-size: 15px; font-weight: bold;display: flex;position: relative;}

     .botao-contact {
      display: flex;
      top: 55%;
      background: rgb(255, 0, 0);
      color: rgb(255, 255, 255);
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bolder;
      border-radius: 5px;
      transition: background 0.3s;
      font-size: 18px;
      
  }

    .about-img img {
        top: 45px; /* Ajuste o valor conforme necessÃ¡rio */
        position: relative;
    }



    /*-----------------------------------------------------------------------------*/
    .bd-grid {
        max-width: 1024px;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: var(--mb2);
        margin-right: var(--mb2);
    }

    /*-----------------------------------------------------------------------------*/
    .section-title::after {
        position: absolute;
        content: '';
        width: 64px;
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: var(--first-color);
    }
    .video-div1{
        background:white;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border-radius: 0;
        
    }
    .video-div2{
        background:white;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border-radius: 0;
    }
    .video-div3{
        background:white;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        border-radius: 0;
    }
    .about-container{
        margin: 0; /* Remove margens padrÃ£o */
        padding: 0; /* Ajuste conforme necessÃ¡rio */
    
        

    }
    .about-container1{
      margin: 0; /* Remove margens padrÃ£o */
      padding: 0; /* Ajuste conforme necessÃ¡rio */
  margin-top: -250px;
      

  }

}
